<button type="submit"  class="btn btn-outline-success" style="margin-top:10px">Save</button>
<button type="submit"  class="btn btn-outline-success" style="margin-top:10px;margin-left:10px;">Submit</button>

@code {

}
